Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.vscode
Content/Geometry
Content/StarterContent
Content/ThirdPerson
Content/Mannequin
Intermediate
